In [2]:
#librerias
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn

In [7]:
antenas = gpd.read_file('dataframes/Antenas_Celulares_RM/Antenas_Celulares_RM.shp').to_crs(4326)
antenas

       FID         n1       n2  ap                     geometry
0        1  339615.48  6266835   0  POINT (-70.73316 -33.72973)
1        2  339174.45  6266116   0  POINT (-70.73804 -33.73614)
2        3  339174.45  6266116   0  POINT (-70.73804 -33.73614)
3        4  338777.53  6266143   0  POINT (-70.74232 -33.73584)
4        5  339156.85  6266550   1  POINT (-70.73816 -33.73223)
...    ...        ...      ...  ..                          ...
1521  1522  354068.20  6304598   0  POINT (-70.57103 -33.39134)
1522  1523  352847.27  6303988   1  POINT (-70.58425 -33.39668)
1523  1524  352847.27  6303988   1  POINT (-70.58425 -33.39668)
1524  1525  353058.17  6303714   0  POINT (-70.58203 -33.39918)
1525  1526  352634.33  6304056   1  POINT (-70.58653 -33.39603)

[1526 rows x 5 columns]